# put your input params here before deploying the contract on a testnet or any blockchain

TESTNET_PRIVATE_KEY=private-key-here
SEPOLIA_RPC_URL=sepolia-rpc-url-here
ETHERSCAN_API_KEY=put-your-etherscan-api-key-here